extends ../layout

block layout-styles
    style.
        main {
            margin: auto;
        }

        footer.mt-auto {
            margin: 0 !important;
        }

block layout-content
    .text-center
        h1.mb-3 (¬_¬")
        h4 404 - Not Found

        a(href="/").btn.btn-lg.btn-outline-dark.mt-5 Return to homepage