footer.p-5.mt-auto.bg-body-tertiary.text-center
  .container-fluid.d-flex.justify-content-between.align-items-center
    .left-side
      p Phone Number: 0708 456 987
      p
        | Email: 
        a(href='mailto:muasamtructuyen@gmail.com') muasamtructuyen@gmail.com
    .right-side
      p Made with love by Nhom 11!
      p GitHub:
      a(href='https://github.com/ngphuctoan/softeng-finalterm-smartphone-garden') https://github.com/ngphuctoan/softeng-finalterm-smartphone-garden
