- var activeNav = activeNav || ""
- const navs = { "/": "HOME", "/smartphones": "SMARTPHONES", "/about": "ABOUT US", "/contact": "CONTACT" }

header.navbar.navbar-expand-sm.sticky-top.pb-0.bg-body.shadow
    .container-md.d-flex.flex-column
        .row.flex-column.flex-md-row.w-100.pb-2
            a(href="/").col.navbar-brand.fw-bold.text-center.text-md-start.link-body-emphasis SMARTPHONE GARDEN
            
            .col-auto.d-flex.justify-content-center.justify-content-md-start.gap-2
                button(type="button" data-bs-toggle="collapse" data-bs-target="#navs" aria-controls="navs" aria-expanded="false").navbar-toggler
                    span.navbar-toggler-icon

                button(type="button").btn
                    iconify-icon(icon="mynaui:shopping-bag")
                
                button(type="button").btn
                    iconify-icon(icon="mynaui:user-circle")
                    span.ms-3 User

        ul#navs(style="--bs-nav-link-color: var(--bs-secondary)").collapse.navbar-collapse.nav.nav-underline.flex-column.flex-md-row.nav-justified.w-100.pt-2.border-top
            each [key, value] of Object.entries(navs)
                - const active = key === activeNav

                li.nav-item.w-100
                    a(href=`${key}` aria-current=(active ? "page" : "") class=(active ? "active" : "")).nav-link.px-4 #{value}