@import "https://fonts.googleapis.com/css2?family=Poppins";
@import "https://fonts.googleapis.com/css2?family=Comfortaa";

*:not(.badge) {
    border-radius: 0 !important;
}

body {
    font-family: Poppins, sans-serif;
}

iconify-icon {
    font-size: 1.5rem;
    vertical-align: -.3125rem;
}