doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Dashboard | Smartphone Store

        link(rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.5/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/styles.css")
        
        style.
            #userPagination .page-link {
                transition: transform .15s ease, background-color .15s ease;
                color: #000;
            }
            #userPagination .page-link:hover {
                transform: scale(1.1);
                background-color: rgba(0,0,0,0.05);
            }

            #userPagination .page-item.active .page-link {
                background-color: #464448;  
                border-color:#423f44;
                color: #fff;
            }
            #userPagination .page-item.active .page-link:hover {
                background-color:#3d3a40;
            }

        block layout-style

    body.d-flex.flex-column.min-vh-100
        include partials/header

        section.d-flex.flex-fill
            include partials/sidebar
            //- Xin phep giam my-5 thanh my-4 de cho dep hon nha <3
            main.container-fluid.px-4.px-lg-5.my-4
                if navs && navs[activeNav] && navs[activeNav].title != "Users"
                    h2.pb-2.mb-4.border-bottom #{navs[activeNav].title}

                block layout-content

        script(src="https://unpkg.com/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js")
        script(src="https://unpkg.com/iconify-icon")

        block js-imports

        script(src="https://unpkg.com/alpinejs@3.x.x")