doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Dashboard | Smartphone Store

        link(rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.5/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/styles.css")

        style.
            .pagination-theme .page-link {
                background-color: #fff;
                border: 1px solid #000;
                color: #000;
            }
            .pagination-theme .page-link:hover,
            .pagination-theme .page-link:focus {
                border-color: #888;
                box-shadow: none;
            }
            .pagination-theme .page-item.active .page-link {
                background-color: #fff;
                border: 1px solid #666;
                color: #000;
            }
            
    body.d-flex.flex-column.min-vh-100
        include partials/header

        section.d-flex.flex-fill
            include partials/sidebar

            main.container-fluid.px-4.px-lg-5.my-5
                h2.pb-2.mb-4.border-bottom #{navs[activeNav].title}

                block layout-content

        script(src="https://unpkg.com/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js")
        script(src="https://unpkg.com/iconify-icon")

        block js-imports

        script(src="https://unpkg.com/alpinejs@3.x.x")