doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Dashboard | Smartphone Store

        link(rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.5/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/styles.css")
    
    body.d-flex.flex-column.min-vh-100
        include partials/header

        section.d-flex.flex-fill
            include partials/sidebar

            main.container-fluid.px-4.px-lg-5.my-5
                h2.pb-2.mb-4.border-bottom #{navs[activeNav].title}

                block layout-content

        script(src="https://unpkg.com/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js")
        script(src="https://unpkg.com/iconify-icon")

        block js-imports

        script(src="https://unpkg.com/alpinejs@3.x.x")