doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.5/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/styles.css")

    body.d-flex.justify-content-center.align-items-center.p-2.min-vh-100
        main(style="max-width: 30rem").d-flex.flex-column.gap-5.w-100.p-4.bg-body.border
            block layout-content

        script(src="https://unpkg.com/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js")
        script(src="https://unpkg.com/iconify-icon")