header.navbar.flex-nowrap.sticky-top.p-0.bg-body.shadow
    .col-5.col-lg-4.col-xl-3.d-flex
        button(type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar").d-lg-none.btn.btn-lg.btn-dark.px-3.py-2
            iconify-icon(icon="mynaui:sort")
        
        a(href="/dashboard").d-none.d-sm-block.navbar-brand.fs-6.text-truncate.w-100.p-3.m-0.link-light.bg-secondary Smartphone Garden

    a(href="/").btn.btn-lg.ms-auto
        iconify-icon(icon="mynaui:external-link")
        span.d-none.d-sm-inline.fs-6.ms-3 Return to store

    button(type="button").btn.btn-lg.ms-2
        iconify-icon(icon="mynaui:user-circle")
        span.d-none.d-sm-inline.fs-6.ms-3.me-2 User