header.navbar.sticky-top.p-0.pe-2.bg-body.shadow
    .col-5.col-md-4.col-lg-3.d-flex.align-items-center.bg-secondary-subtle
        button(type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar").d-md-none.btn.btn-lg.btn-dark.p-3
            iconify-icon(icon="mynaui:sort")
        
        a(href="/dashboard" style="height: 1.5rem; margin: 1.25rem 0").navbar-brand.fs-6.text-truncate.p-0.mx-4 Smartphone Garden

    a(href="/").btn.btn-lg.ms-auto
        iconify-icon(icon="mynaui:external-link")
        span.fs-6.ms-3 Return to store

    button(type="button").btn.btn-lg.ms-2
        iconify-icon(icon="mynaui:user-circle")
        span.fs-6.ms-3 User